@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
  width: fit-content!important;
  height: fit-content!important;
  top: 0!important;
  left: 60%!important;
}
.swiper-pagination-bullet {
  width: fit-content!important;
  background: transparent!important;

}
