/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Set design system */

/* colors */
.main-color {
  color: #0B0D17 ;
}
.second-color {
  color: #D0D6F9;
}
.third-color {
  color: #FFFFFF;
}
/* end colors */

/* typography */
.heading-1 {
  font-size: 150px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}
.heading-2 {
  font-size: 100px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;

}
.heading-3 {
  font-size: 58px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}
.heading-4 {
  font-size: 32px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}
.heading-5 {
  font-size: 28px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 4.75px;
  text-transform: uppercase;
}
.subheading-1 {
  font-size: 28px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}
.subheading-2 {
  font-size: 14px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.35px;
}
.nav-text {
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7px;
}
.body-text {
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 32px;
  letter-spacing: 1px;
}
/* end typography */

/* end design system */

nav {
  background: transparent!important;
}
#crew .swiper-pagination {
  width: fit-content!important;
  height: fit-content!important;
  top: 85%!important;
  left: 5%!important;
}
#crew .swiper-pagination-bullet {
  width: 12px!important;
  height: 12px!important;
  margin: 0px 17px!important;
  background: white!important;
}
@media (max-width: 1023px) {
    #crew .swiper-pagination {
      top: 24%!important;
      left: 38%!important;
  }
}

@media (max-width: 767px) {
  #crew .swiper-pagination {
    width: 60%!important;
    top: 44vh!important;
    left: 20%!important;
}
#crew #imgSec {
  border-bottom: 1px solid rgb(255,255,255,0.2);
}

}


#destination .swiper-pagination {
  width: fit-content!important;
  height: fit-content!important;
  top: 0!important;
  left: 53%!important;
}

#destination .swiper-pagination-bullet {
  width: fit-content!important;
  background: transparent!important;
  opacity: 75%!important;
  margin: 0px 15px;
}

#destination .swiper-pagination-bullet-active {
  color: #FFFFFF;
  opacity: 100%!important;
}

@media (max-width: 1024px) {
  #destination .swiper-pagination {
    top: 48%!important;
    left: 5%!important;
    right: 5%!important;
    width: 90%!important;
  }
  #destination .swiper-pagination-bullet {
    margin: 0px 10px;
  }
}
@media (max-width: 768px) {
  #destination .swiper-pagination {
    top: 43%!important;
  }
}
@media (max-width: 640px) {
  #destination .swiper-pagination {
    top: 25vh!important;
  }
}

#tech .swiper {
  height: 100%;
}

#tech .swiper-slide {
  display: flex;
}

#tech .swiper-pagination {
  left: 0;
  width: fit-content;
}

#tech .swiper-pagination-bullet {
  background: transparent;
  border:  1px solid white;
  height: 70px;
  width: 70px;
  margin: 25px 0px;
  display: flex!important;

}

#tech .swiper-pagination-bullet-active {
  background-color: white!important;
  color: black;
}

@media (max-width:1023px) {
  #tech .swiper-pagination {
    display: flex;
    justify-content: space-evenly;
    left: 30%;
    height: fit-content;
    width: 40%;
    top: 50vh;
  }
}

@media (max-width:768px) {
  #tech .swiper-pagination {
    top: 43vh;
  }

  #tech .swiper-pagination-bullet {
    width: 60px;
    height: 60px;
  }
}

@media (max-width:640px) {
  #tech .swiper-pagination {
    top: 35vh;
    width: 90%;
    left: 5%;
  }
} 